header#header { height: auto; }
header#header h2.title { margin: 0 0 15px 0; float: none; display: block; height: auto; background: pink; }
header#header h2.title a { width: 100%; height: auto; background-position: 17px 12px; padding-left: 70px; }
header#header #navigation { display: block; margin: 0 20px 20px 12px; height: auto; font-size: 16px; }

body.project #content { padding: 0 20px; }
body.project #content a.back-btn { display: none; }
body.project #content .description { width: 100%; }
body.project #content #media .image img { max-width: 100%; height: auto; }
