foreach $root do
  if $children do
    <ul class="projects">
      foreach $children do
        <li class="element if @width_class do @width_class endif if @height_class do @height_class endif if @data-related do @data-related endif" if @data-related do data-related="@data-related" endif>
            if @thumb do <a href="@url" class="image"><img src="@thumb" class="thumb" width="100%" height="@height" alt=""></a> endif
            <section class="text">
              <h4 class="title">@title</h4>
              if @role do
                <div class="role">
                @role
              </div>endif
            </section>
        </li>
      endforeach
    </ul>
  endif
endforeach