<div class="gallery artboard">
get "/projects" do
    if $children do
      <ul class="projects">
        foreach $children do
          <li class="element if @data-related do @data-related endif" if @data-related do data-related="@data-related" endif><a href="@url">
            foreach $_thumbs do
              <img src="@url" class="thumb" height="@height" width="@width" alt="@title">endforeach
              <section class="text">
                <h4 class="title">
                  if @short do @short endif
                  if !@short do @title endif
                </h4>
                if @in-house do <span class="in-house">Staff</span> endif
                if @client do
                <h5 class="client"><em>for</em> @client</h5>
                endif
                if @role do
                  <div class="role">
                  @role
                </div>endif
              </section>
              </a> 
          </li>
        endforeach
      </ul>
    endif
end
</div>
