%section.project-nav

  .case-studies-nav__section
    .contain
      %h2.section-heading
        Featured Case Studies
    %ul.case-studies-nav.case-studies-nav--list
      %li.case-study.case-study--scoring
        .contain
          %a{href: "/projects/scoring-health"}
            =image_set_tag 'project-nav/nav-scoring-image.png', {'project-nav/nav-scoring-image-2x.png' => '2x'}, class: "case-study__background-img"
            .row
              .col-sm-8.offset-sm-4
                .case-study__info
                  %h3.case-study__title Scoring Health
                  %p.case-study__description Simplifying important health information
      %li.case-study.case-study--navigation
        .contain
          %a{href: "/projects/navigation"}
            .row
              .push-md-5.col-md-7.u-tc.u-self-center
                =image_set_tag 'project-nav/nav-navigation-image.png', {'project-nav/nav-navigation-image-2x.png' => '2x'}, class: "case-study__background-img"
              .col-sm-9.offset-sm-2.offset-md-0.pull-md-7.col-md-5
                .case-study__info
                  %h3.case-study__title Navigation & Digital Wayfinding
                  %p.case-study__description Unobtrusively guiding users to their next task

      %li.case-study.case-study--wevote
        .contain
          %a.case-study__link{href:"/projects/we-vote"}
            .row
              .col-sm-4.offset-sm-1.u-self-center.u-tc
                =image_set_tag 'project-nav/nav-wevote-image.png', {'project-nav/nav-wevote-image-2x.png' => '2x'}, class: "case-study__background-img"
              .col-sm-7
                .case-study__info
                  %h3.case-study__title Social Voting Guide
                  %p.case-study__description Harnessing people's trusted networks to increase voter engagement

      %li.case-study.case-study--openoakland
        .contain
          %a.case-study__link{href:"/projects/openoakland-logo"}
            .row
              .col-sm-3.u-self-center.u-tc
                =image_set_tag 'project-nav/nav-openoakland-image.png', {'project-nav/nav-openoakland-image-2x.png' => '2x'}, class: "case-study__background-img"
              .col-sm-9
                .case-study__info
                  %h3.case-study__title Logo Design
                  %p.case-study__description Crafting the visual identity for a community-led, civic-tech organization


  .additional-projects-nav__section
    .contain
      %h2.section-heading
        Other Projects
      %ul.additional-projects-nav
        = link_to_page("Readable Terms", "/projects/readable-terms")
        = link_to_page("WellnessFX iPhone App", "/projects/iphone-app")
        = link_to_page("Email Newsletter Templates", "/projects/email-newsletter")
