---
title: Activity Tracking
description: Reducing complexity while adding new information

---

%h1.page-heading Activity Tracking

%p.intro
  The primary mission of WellnessFX is to help people better understand and improve their health. By providing access to blood tests and helping to explain and contextualize test results, we’re taking that first step to helping people make better sense of their health. 