---
title: Scoring Health
description: Reducing complexity while adding new information

---

%h1.page-heading Activity Tracking

%p.intro
  The primary mission of WellnessFX is to help people better understand and improve their health. By providing access to blood tests and helping to explain and contextualize test results, we’re taking that first step to helping people make better sense of their health. 
%p
  WellnessFX had already taken the first step of raising a low bar within the industry by providing better visualizations and presentations for personal blood test results. People that used the service were emphatic about how much they loved the clarity and simplicity of their test results. We were displaying test results with various risk and reference ranges provided by the testing labs, but it was becoming increasingly difficult to present a more meaningful health standard for results.
%p
  %img{"data-src" => "http://ixley.com/content/5.projects/23.mixtape-riot/02.jpg"}
%p
  WellnessFX had already taken the first step of raising a low bar within the industry by providing better visualizations and presentations for personal blood test results. People that used the service were emphatic about how much they loved the clarity and simplicity of their test results. We were displaying test results with various risk and reference ranges provided by the testing labs, but it was becoming increasingly difficult to present a more meaningful health standard for results.
%p  
  %img{"data-src" => "http://lorempixel.com/600/400/city/9", width: "600", height: "600"}

