---
title: Email Newsletter Templates
description: Friendly, informative, and responsive emails
-# role: Lead Designer at WellnessFX
footer_project_nav: true
---

%h2.section-heading Staying relevant

%p
  Much of the value WellnessFX provides does not depend on regular engagement with the app. To stay relevant with members, (as well as prospective ones,) email is an important piece of WellnessFX's engagement strategy. I worked with our Director of Communications to update email templates to match the personality of the content – friendly and informative. All templates are designed for both web and mobile.


%figure
  =image_set_tag 'projects/email-newsletter/practitioner-newsletter.jpg', {'projects/email-newsletter/practitioner-newsletter-2x.jpg' => '2x'}
  %figcaption


%figure
  =image_set_tag 'projects/email-newsletter/newsletter-email.jpg', {'projects/email-newsletter/newsletter-email-2x.jpg' => '2x'}
  -# %figcaption

