---
title: WellnessFX iPhone App
description: Making Health Data Portable
-# role: Lead Designer at WellnessFX
footer_project_nav: true
---

%h2.section-heading Prioritizing Tasks

%p
  With a lot of nooks and crannies in the web app, the iPhone app is not intended to mirror all functionality. The team prioritized which key features were most important and relevant to have on a mobile device, and one feature (Activity Tracking) was even introduced on the iPhone app before the web app.
%p
  I worked with the iOS developer to design key screens and functionality, and provide feedback on designs she took the lead with.

%figure
  =image_set_tag 'projects/iphone/iphone-app.png', {'projects/iphone/iphone-app-2x.png' => '2x'}
  =image_set_tag 'projects/iphone/iphone-more.png', {'projects/iphone/iphone-more-2x.png' => '2x'}
  %figcaption
    A few key screens within the app

%figure
  =image_set_tag 'projects/iphone/app-flow.png', {'projects/iphone/app-flow-2x.png' => '2x'}
  %figcaption
    A stripped down map of the app

%figure
  =image_set_tag 'projects/iphone/nav-icons.png', {'projects/iphone/nav-icons-2x.png' => '2x'}
  %figcaption
    Custom menu icons
