---
title: WellnessFX iPhone App
description: Making Health Data Portable
footer_project_nav: true
---

.project__header
  %h1.project__heading #{current_page.data.title}
  %p.project__subheading #{current_page.data.description}
  -# %p.project__organization Lead Designer at WellnessFX


%h2.section-heading [Heading]

%p
  [Description]

%figure
  =image_set_tag 'projects/iphone/iphone-app.png', {'projects/iphone/iphone-app-2x.png' => '2x'}
  -# %img{"data-src" => "/images/projects/legal-agreements/tos-updated-2x.png"}
  %figcaption
%figure
  =image_set_tag 'projects/iphone/iphone-more.png', {'projects/iphone/iphone-more-2x.png' => '2x'}
  -# %img{"data-src" => "/images/projects/legal-agreements/tos-updated-2x.png"}
  %figcaption
    
%figure
  =image_set_tag 'projects/iphone/app-flow.png', {'projects/iphone/app-flow-2x.png' => '2x'}
  -# %img{"data-src" => "/images/projects/legal-agreements/tos-updated-2x.png"}
  %figcaption

%figure
  =image_set_tag 'projects/iphone/nav-icons.png', {'projects/iphone/nav-icons-2x.png' => '2x'}
  -# %img{"data-src" => "/images/projects/legal-agreements/tos-updated-2x.png"}
  %figcaption

