---
title: OpenOakland Logo Redesign
description: Designing the visual identity of a community-led, civic tech organization
role: Volunteer with OpenOakland
---

.project-intro
  .project-challenge
    %h2.project-intro-heading The Challenge
    %p 
      Create a logo that better represents the organization mission of collaborative innovation, and distinguishes it as separate from the city government.

  .project-role
    %h2.project-intro-heading My Role
    %p
      I led the initial exploration to define the initial scope of this project, along with multiple design reviews throughout the process. I detailed out all state variations, designed a custom set of icons for the new navigation, and built prototypes (with production-friendly code).

  
  %blockquote.organization-overview
    %strong
      =link_to('OpenOakland', 'https://www.openoakland.org', class: 'external-link')
    is a nonprofit civic innovation organization that brings together coders, designers, data geeks, journalists, and city staff to collaborate on solutions to improve the lives of Oaklanders. We are part of Code for America’s Brigade program and hold frequent events for community, local government, and tech folks to work together.


%h2.section-heading Background

%p
  The original logo was developed quickly and leaned heavily on the City’s of Oakland’s old tree logo. Due to this mark, and OpenOakland’s city centered projects, many people erroneously believed that the organization was officially affiliated with the city government. After recently clarifying and revisiting its mission, values, and identity, OpenOakland was even better poised for an updated visual identity.
  %figure
    %img{"data-src" => "/images/projects/openoakland/old-logo.png", width: '300'}
    %figcaption
      Original OpenOakland logo


%h2.section-heading Defining Identity

%p
  We began the branding process with an overview of what the organization’s identity and mission were. Some of this had been recently redefined through a series of leadership meetings and workshops, so I picked up with that.

%figure
  %img{"data-src" => "/images/projects/openoakland/card-sorting.jpg"}
  %figcaption
    I just set the stage and then watched the fun. The exercise was scoped to ~15 minutes.

%p
  I began by leading a persona/trait card sorting exercise with a handful of long-time members that had an intimate familiarity with the organization to establish the defining characteristics for OpenOakland. I’ve led this same exercise a couple of times before, and I’ve found that it’s a really great way to have a group quickly and collaboratively come to consensus by debating rationales and reasoning, but with the aid of simple physical props like these cards. The goal is to sort through a pile of cards with various neutral traits to five core ones that best represent the organization (think adjectives — neither negative nor positive — used to describe people or personalities). The idea is to think of the organization as its own entity and decide what its most distinctive and dominant traits are, including aspirational ones. The group settled on <strong>Collaborative, Diverse, Community-focused, Empowering, and Innovative</strong> (with a few more as ‘secondary’ traits). While this sort of work doesn’t need to directly inform a visual mark, I find it tremendously helpful to have brand context like this when starting out.


  %h2.section-heading Surveying Concepts

  %p
    With the core traits established, and previous discussions to further inform the process, I began mind-mapping various ideas and concepts that could help form the visual base of the logo. The visual concepts that felt particularly sticky had to do with communities and networks, and it was hard to ignore the strength afforded by a circle or ring, given the prominent O’s in the name. There is obviously plenty of room for exploration beyond these references, but at this stage, after an initial explosion of possible concepts, I look to create some soft constraints to keep things from remaining too open ended. Soft constraints are intended to be helpful guidelines — they help create some structure, but can still be adjusted if you have good reason to. 

  %figure
    %img{"data-src" => "/images/projects/openoakland/mind-map.jpg", width: '400'}
    %figcaption
      Mapping related traits to help identify an appropriate visual concept

  %p
    I also decided to prioritize a square form factor for the brandmark. With any brand that has an online presence these days, a square icon is an important common asset. For simplicity’s sake, I also made a decision to create a simple combomark (pairing the iconic mark and the wordmark). This also meant deciding that we would select a strong typeface, and forego any significant type customization.


  %h2.section-heading Compiling Inspiration

  %p
    With these basic parameters in place, I began sketching as well as compiling graphics to reference. Communicating visual ideas in words can be particularly difficult with no anchor, which is why things like mood boards, style tiles can be so helpful. The graphics I collected became important foundations for our early conversations. Some references were quickly dismissed as being off the mark while others elicited more discussion.

  %figure
    %img{"data-src" => "/images/projects/openoakland/inspiration-collage.jpg"}
    %figcaption
      Some of the graphics used to reference aesthetics and concepts during the early stages


  %h2.section-heading Sketching

  %p
    Reviewing inspiration sources in conjunction was a great way to quickly establish which directions to explore, as well as which concepts to avoid entirely. Even coming across other logos that we considered successful helped us to avoid iterations that seemed too similar.

  %figure
    %img{"data-src" => "/images/projects/openoakland/early-sketches.jpg"}
    %figcaption
      A handful of early sketches all set in rings

  %p
    From the beginning, I focused on using a circular base and explored concepts ranging from representations of data visualizations to networks and communities, and even trees (a nod both to Oakland’s oak and to the nodal branching that commonly represents data structures in software). I sketched a few non-circular ideas as well, but the circle kept calling me back.

  %p
    I was also excited by the possibility of creating a 
    =link_to('dynamic generative logo', 'https://www.pinterest.com/piha/dynamic-logos', class: 'external-link')
    — something that had a distinguished and recognizable identity, but which could have selected attributes subtly shifted within established parameters. This was not something we considered a hard requirement, but it was something I kept in the back of my head throughout the generative process.

  %p
    I presented concepts that felt likely to satisfy both the preferences that had been established as well as offer versatility for still unrealized executions. This is one of the things I find most difficult about designing a logo. The process requires stakeholders to provide input along the way, but the overall harmony required of a logo redesign means that much of what works or what doesn’t only comes out in details of further exploration. It means that some concepts that feel like they have a lot of promise early on can still lead to dead-ends or mediocre options.
  %figure
    %img{"data-src" => "/images/projects/openoakland/early-dots.png"}

  %h2.section-heading Connecting Dots

  %p
    Taking stock of the variety of directions we had explored through sketching, we zeroed in on a patterned ring of dots. Conceptually this conveyed the notion of a connected community of individuals, and it was simple and tasteful. It introduced a new visual constraint, but still offered plenty of room for continued exploration and refinement. These already illustrate the level of detail I was experimenting with by moving to the screen. I wanted to be mindful about adding detail that wouldn’t scale down well, but it wasn’t as significant a concern for the intended applications of this mark as it can be for others.

  %figure
    %img{"data-src" => "/images/projects/openoakland/connected-dots.png"}

  %p
    I had a strong inclination to connect the nodes with lines, feeling like it further communicated the idea of connectivity and networks. I got a little obsessed experimenting with node arrangements and ways to connect them. I sketched things with way too much detail just to see what sorts of ideas might spill out.

  %p
    I worked on this direction for a while felt confident it would bear fruit. At this point, I actually thought we were close to having the brandmark completed.


  %h2.section-heading Round One

  %figure
    %img{"data-src" => "/images/projects/openoakland/first-round.png"}
  %p
    When I presented this first round though, I thankfully got some pushback from stakeholders. The concept I was leaning towards (the first mark) just wasn’t that popular, so I’m glad we didn’t stop here. We steered back towards the unconnected assembly of dots (based on the second mark), and I dove deeper to explore other variations.

  %figure
    %img{"data-src" => "/images/projects/openoakland/dot-ring-variations.png"}

  %h2.section-heading The Expansive Wheel

  %p
    The exploration of dot configurations is what I remember most about this process. This level of constraints created fairly tight boundaries that allowed me to focus (almost obsessively) on a handful of visual parameters. I worked almost exclusively in Illustrator at this point, but I often wished that I were a more adept coder, so that I could quickly generate entire sets of versions by adjusting simple parameters. I was able to generate most of what I wanted to explore, but I still think about the time I might’ve saved otherwise. Regardless, we reached a point where everyone felt really positive about what we had come up with. I continued to obsess over details, but it felt like the majority of the explorative work was done. Refinement can still take a good deal of effort, but it feels more measured and at least easier to gauge progress.  

  %h2.section-heading

  %figure
    %img{"data-src" => "/images/projects/openoakland/ring-variations.png"}
    %figcaption
      Exploring dot size, configuration, and patterns
  %p
    At this stage of design, I began to investigate what sorts of dynamic variation might be appropriate. Specifically, I looked at dot size, count, configuration, and color as potential areas for slight variation. I started noticing that allowing too much variation without tight controls made certain versions feel less visually balanced, and sometimes less identifiable as an identifiable symbol. In the end, I made the decision to focus on a singular form that felt uniform, strong, and balanced, and put aside the concept of a generative configuration. While I also made the decision to stick to solid, uniform colorways for simplicity’s sake, I think there is still room to revisit exploration of subtle color shading variations in the future once the mark has been more firmly established.

  %h2.section-heading Simple Harmony

  %p
    In opting for a singular version, I spent a lot of time trying to get the details just right. Dot size, count, and spacial relationships all went under the microscope in pursuit of a balanced and harmonious form.

  %figure
    %img{"data-src" => "/images/projects/openoakland/mark-w-guides.png"}

  %h2.section-heading Selecting Type

  %p
    While refining the brandmark, we also focused on type selection for the wordmark. I looked into a variety of both open source and paid fonts, and ultimately we settled on Orgon by the talented Dieter Hofrichter of Hoftype. It’s a beautiful neo-humanist typeface with a large x-height, airy openings, and subtly rounded corners that make it both distinct as well as legible. I made some subtle tweaks to the kerning, but otherwise left it untouched.  

  %figure
    // bw logo
    %img{"data-src" => "/images/projects/openoakland/logo-bw.png"}

  %h2.section-heading Adding Color

  %p
    For color variations, we chose a vibrant sea green, with a light beige and dark slate blue to compliment. I drew a good deal of inspiration from Ethan Schoonover’s 
    =link_to('Solarized', 'http://ethanschoonover.com/solarized', class: 'external-link')
    color palette, which is designed to accommodate a variety of bold colors that are legible on both light and dark backgrounds. Initially, I tried adding a complimenting burnt ochre as well but decided on keeping just the green for the primary palette to maintain a stronger visual identity. (The burnt ochre still looks great and could still be incorporated into a secondary palette depending on future needs.)

  %figure
    %img{"data-src" => "/images/projects/openoakland/logo-color-variations.png"}

  %p
    I had hoped to go further in creating a built out visual style, but this project had already dragged on longer than we anticipated. Due to the iterative nature of the organization, I decided to focus on solidifying and documenting what we had come up with so far, and leave a larger design system on the table for future exploration.

  %h2.section-heading Details & Documentation
  
  %figure
    %img{"data-src" => "/images/projects/openoakland/lockups-clearspace.png"}
  %p
    Creating lockups and clear space designations feels like one of the least creative parts of the process for me, but it’s still helpful to establish guidelines to help keep the mark balanced. It’s difficult to create rules for cases that are yet to be determined, so I stuck to some basics and left it at that. Some of the lockups shown here are intended for specific uses, but I figured it makes sense to be thorough in defining these things.

  %h2.section-heading The Future

  %p
    I’m excited to see this new identity rolled out and, even more excited to see how others build upon it as time goes on. Spike, (the Co-Founder and Executive Director), was a pleasure to work with. He gave great feedback throughout the process, and even though things dragged out a little due to personal time constraints, it was a pleasure to work with him on this. I still have hopes to introduce some generative color variations down the road, so hopefully there will be time for an update in the not too distant future.

  %figure
    // final logo
    %img{"data-src" => "/images/projects/openoakland/logo-final.png"}


.article-footer-nav
  %a.article-footer-nav__link--single{href: 'scoring-health'}
    .article-footer-nav__title Scoring Health
    .article-footer-nav__description 
      Reducing complexity while adding new information


