---
title: Readable Terms
description: Taking a crack at 'legalese'
-# role: Lead Designer at WellnessFX
footer_project_nav: true
---

%h2.section-heading Say What?
%section
  %p
    Legal agreements get a bad rap for a good reason. They dictate an increbibly important set of terms, but are painfully dense. We can do better. With the goal of greater transparency, I took a couple of WellnessFX’s primary user agreements, and paired each section with a concise summary in plain, easy to understand English.

%figure
  =image_set_tag 'projects/legal-agreements/tos-updated.png', {'projects/legal-agreements/tos-updated-2x.png' => '2x'}
  -# %img{"data-src" => "/images/projects/legal-agreements/tos-updated-2x.png"}
  %figcaption
    Cutting through the jargon
