---
title: Scoring Health
description: Reducing complexity while adding new information

---

%h1.page-heading Scoring Health


%h2.section-heading Background

%p
  The primary mission of WellnessFX is to help people better understand and improve their health. By providing access to blood tests and helping to explain and contextualize test results, we’re taking that first step to helping people make better sense of their health. 
%p
  WellnessFX had already taken the first step of raising a low bar within the industry by providing better visualizations and presentations for personal blood test results. People that used the service have been emphatic about how much they loved the clarity and simplicity of their test results. Test results were displayed with various risk and reference ranges (as provided by the testing labs), but it was becoming increasingly difficult to present a more meaningful contextual standard for test results.
%p
  [-----image: compare old-school printout vs chart-----]


%h2.section-heading Scoring Health -> The Goal

%p 
  With so much information to digest, the goal is to present health information in a way that is meaningful and simple to understand. My task was to design a visual system that would preserve existing lab test information, but provide a more prominent ‘health score’ for select biomarkers and health areas as a way to convey more meaning about members’ test results. The hypothesis was that assigning certain test markers with a numerical (100 point) score would allow people to get an immediate sense of whether test results should be cause for concern. If you see that your Total Cholesterol to HDL ratio is 2.5, it will probably take a little digging to understand what the relative health association of that is, but seeing a score of 86/100 (where 100 denotes the lowest associated risk), along with an associated color, is easier to understand at a high level. And of course, the additional details and contextual explanations are still there for users to explore further if they want.

%h2.section-heading Solving the problem

%h3 Repurposing Colors

%p 
  Lab designated risk ranges and reference ranges are presented as 2 or 3 range types – High Risk, Moderate Risk, and Optimal (for risk ranges), and Normal and Abnormal (for more agnostic reference ranges). Because all ranges were being colored with the same color set, the first task was to distinguish between markers that could be assigned a standardized health risk, and those that were more contextual and couldn’t be given a representative health score as easily. 
%p
  [-----image: risk and reference charts colored the same compared with new scoring and neutral coloring-----]


%h2.section-heading Prototyping with real data

%p
  Due to the complexity and variation of data sets and combinations, I still began with static visual comps, but then with the help of our engineering team, we quickly moved to create dynamic versions that we could preview with real sample data. While prototyping with ‘dummy’ data or static screens is often sufficient, this was a case when it was particularly helpful to see designs rendered with actual user data. Being able to see a wide variety of actual test results helped expose a number of edge cases and less common scenarios (that are harder to guess at) so that we could refine how we presented certain pieces of information.
%p
  [-----image: summary screen w/ too many colors along with more simplified palette-----]

%h2.section-heading Internal feedback and user testing

%p
  Introducing something as significant as scores about one’s health has a variety of experience implications for our members, so we conducted focused user tests with existing members to gather feedback during the design process. I helped to identify test criteria for our research and we got a lot of great feedback about what things people found helpful as well as things they found confusing. We were subsequently able to adjust designs and our rollout strategy to accommodate these learnings. 

%p
  [-----?image: tour and help info design elements?-----]
  %em show score number exposed and then tucked away (people felt it added clutter and made more confusing)







-# %figure
-#   %img{"data-src" => "/images/projects/scoring/scoring-screenshot.png"}
-#   %figcaption 
