---
title: Scoring Health
description: Reducing complexity while adding new information

---

%h1.page-heading Scoring Health


%p.intro
  The goal of this project was to integrate numerical scoring into blood test results and provide better emphasis for important health indicators. The main challenge was to introduce this new layer of information without adding clutter, and make it simpler to make sense of results.

%h2.section-heading Background

%p
  The primary mission of WellnessFX is to help people better understand and improve their health. By providing access to blood tests and helping to explain and contextualize test results, we’re taking that first step to helping people make better sense of their health. 
%p
  WellnessFX has already taken the first step of raising a low bar within the industry by providing better visualizations and presentations for personal blood test results. People that have used the service are emphatic about how much they love the clarity and simplicity of their test results. 
%figure
  %figcaption [-----image: compare old-school printout vs chart-----]


%h2.section-heading Making Health Information More Meaningful

%p
  It's common to display test results with their associated risk range or reference range (as provided by the testing labs), but this information still offers very little context for relevance to health. Furthermore, WellnessFX's goal is to provide a more progressive standard for health, not simply uphold the status quo. Emphasis on these lab provided ranges, in part, made it more difficult to present a more meaningful  standard for test results.

%p 
  With so much information available, the goal is to make health information both meaningful and approachable. My task was to design a visual system that would preserve existing lab test information, and also provide a more prominent ‘health score’ for select biomarkers and health areas, in order to convey more meaning about members’ test results. 
  %p
    The hypothesis was that assigning certain test markers with a numerical (100 point) score would help give people an immediate sense of which test results to pay attention to first. If you see that your LDL Particle Count is 873 nmol/L, it would probably take a little digging to understand what the relative health context is. Seeing an associated score of 89/100 (where 100 denotes the lowest associated risk), matched with a corresponding color, is easier to understand at a high level. And of course, the additional details and contextual explanations are still there for users to explore further if they want.
%figure
  %img{"data-src" => "/images/projects/scoring/contextualized-value.png"}
  %figcaption
    Adding 

%h2.section-heading Solving the problem

%h3 Fixing Misrepresentative Information First

%p 
  Along with test results, labs provide risk ranges and reference ranges. Risk ranges can be categorized by High Risk, Moderate Risk, and Low Risk (or Optimal), and the more agnostic reference ranges are often Normal and some form of Non-normal (like High or Low). Because both the risk ranges and reference ranges were being colored with the same red, orange, and green, it gave the misleading implication that they had the same health significance. This created a misleading impression that non-normal ranges are necessarily bad (which they're not). By using more neutral colors for them, the results remain more faithful to the significance they're meant to convey.
  
%figure
  %img{"data-src" => "/images/projects/scoring/ranges.png"}
  %figcaption
    Clarifying meaning with color


%h2.section-heading Prototyping with real data

%p
  Due to the complexity and variation of data sets and combinations, I still began with static visual comps, but then with the help of our engineering team, we quickly moved to create dynamic versions that we could preview with real sample data. While prototyping with ‘dummy’ data or static screens is often sufficient, this was a case when it was particularly helpful to see designs rendered with actual user data. Being able to see a wide variety of actual test results helped expose a number of edge cases and less common scenarios (that are harder to guess at) so that we could refine how we presented certain pieces of information. 

  %p
    For example, I initially tried using a fluid range of values so that each score value was represented by a unique color. When we generated cases representing uncommon displays, I realized how much less intuitive certain colors became in relation to each other. The additional detail can be justified in more focused contexts, but becomes confusing at an overview level, so I scaled the values back to limited color ranges here.

%figure
  %img{"data-src" => "/images/projects/scoring/color-count.png"}
  %figcaption
    Balancing detail with readability

%h2.section-heading Internal feedback and user testing

%p
  Introducing something as significant as scores about one’s health has a variety of experience implications for our members, so we conducted focused user tests with existing members to gather feedback during the design process. I helped to identify test criteria for our research and we got a lot of great feedback about what things people found helpful as well as things they found confusing. We were subsequently able to adjust designs and our rollout strategy to accommodate these learnings. 
%p
  One thing we realized was that many people found the additional information valuable, but felt that the additional numbers were overwhelming alongside many others. To address this, I tucked the score away and left the coded color visible. On hover, the numerical score will slide out, but only while is focusing on it.

%figure
  %img{"data-src" => "/images/projects/scoring/hide-detail.png"}
  %figcaption
    Reduce clutter by hiding numerical score values until the user hovers

%h2.section-heading A More Nuanced Detail View

%p
  In addition to the adjustments for the summary views—recoloring specific markers for their Health Score, and neutralizing color for those without a risk range or score, I also updated the detail view to display score as a prominent color, while keeping reference ranges accessible.

%figure
  %img{"data-src" => "/images/projects/scoring/marker-detail.png"}
  %figcaption
    A detail view of results displaying values, lab reference ranges, and WellnessFX scoring


%h3.section-heading 
  %em Status
%p
  %em This feature was unfortunately delayed due to some external factors, but is something the team is still excited to release in the near future. In order to ensure a smoother release, this feature will be rolled out to select segments of our member population incrementally.
%p
  %em There were also a handful of issues that we flagged during the design process, that weren’t scoped for this round but warrant future attention, such as providing better visual support for colorblind users.
