body.projects_index {
  #main section {
    margin-bottom: 2rem;
  }
  .page-heading {
    font-size: 3rem;
    color: darken($gray-lighter, 5%);
    margin: -.5rem 0 .5rem;

  }
  .section-heading {
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $gray;
    font-family: "Helvetica Neue", sans-serif;

  }
  .case-studies {
    li {
      @include micro-clearfix;
      margin-bottom: .5rem;
    }
    .post-thumb {
      float: left;
      margin-right: 15px;
      background-color: $gray-lighter;
      border-radius: 3px;
    }
    .post-info {
      margin-left: 135px;
    }
    .post-title {
      font-size: 2rem;
      line-height: 1.2;
      color: $gray-dark;
      margin: 0;
    }
    .post-description {
      font-style: italic;
      color: $gray;
      font-size: 1.1rem;
      line-height: 1.2;
    }
  }
}


// Project pages

body.projects {
  .page-heading {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}
.case-study {
  .section-heading {
    font-weight: bold;
  }
  .intro {
    font-style: italic;
    font-size: 1.2rem;
    opacity: .8;
    margin-bottom: 1.8em;
    line-height: 1.3;
  }
  ul {
    padding-left: 2em;
    margin-bottom: 1em;
    list-style: circle;
  }
  li {
    margin-bottom: .5em;
  }
  figure {
    margin-bottom: 1em;
    text-align: center;
  }
  figcaption {
    font-style: italic;
    font-size: .8em;
    color: $gray;
    text-align: center;
  }
}
