body.projects-index {
  .page-content section {
    margin-bottom: 2rem;
  }
  .project__heading {
    font-size: 3rem;
    color: darken($gray-lighter, 5%);
    margin: -.5rem 0 .5rem;
  }
}

// Project Nav
// ==========================
.project-nav {
  .section-heading {
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $gray;
    font-family: "Helvetica Neue", sans-serif;
    margin: 1em 0;
  }
}




// Project pages

body.projects {
  .project__header {
    margin-bottom: 2rem;
    text-align: center;
  }
  .project__heading {
    font-size: 3.5rem;
    margin-bottom: .1em;
  }
  .project__subheading {
    color: $gray;
    font-family: $heading-font-family;
    line-height: $heading-line-height * 1.05;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: .4em;
  }
  .project__organization {
    display: inline-block;
    color: $gray;
    font-size: .6rem;
    padding: 2px 8px;
    background-color: #f1f1f1;
    border-radius: 3px;
  }
  .article-footer-nav {
    margin-top: $space-xxl;
  }
}


.project__intro-heading {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: $wine;
}

.project {
  + .project-nav {
    margin-top: $space-xl;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
  .section-heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  ul {
    padding-left: 2em;
    margin-bottom: 1em;
    list-style: circle;
  }
  li {
    margin-bottom: .5em;
    figure {
      padding-right: 1.25rem; // offset to recenter images
    }
  }
  blockquote {
    font-family: $heading-font-family;
    font-size: 1rem;
    font-style: italic;
    color: $gray;
  }
}

// Generalized Case Study Style
// .projects-scoring-health {
//   .project {
//     position: relative;
//   }
//   .project__hero {
//     width: 100vw;
//     height: 350px;
//     background-image: url('/images/projects/scoring/scoring-open-2x.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     &::after {
//       display: block;
//       padding-bottom: 350px;
//     }
//   }
// }

.project__intro {

}

@mixin nav-project-bg($bg-color){
  background-color: $bg-color;
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.case-studies-nav--list {
  margin-bottom: 3rem;
  .case-study {
    @include micro-clearfix;
    padding: $space-lg 0;
    background-color: $gray-darker;
    color: #fff;
    transition: background .2s;
    &--scoring {
      @include nav-project-bg(#682d70);
      .case-study__background-img {
        width: 120%;
        max-width: 120%;
        margin-left: -10%;
      }
      @include breakpoints($bootstrap-sm) {
        .case-study__info {
          margin-top: -$space-xxl;
        }
      }
    }
    &--navigation {
      @include nav-project-bg(#0075f9);
    }
    &--openoakland {
      @include nav-project-bg(#21b890);
    }
    &--wevote {
      @include nav-project-bg(#2e4f61);
    }
  }
  .case-study__info {
    font-family: $heading-font-family;
    padding: $space-lg 0;
    @include breakpoints(max $bootstrap-sm){
      text-align: center;
    }
    @include breakpoints(mid-small){
      // margin-left: 170px; // image width + 15px
    }
  }
  .case-study__title {
    font-size: .7rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $base-font-family;
    letter-spacing: .1rem;
    font-weight: bold;
    color: #fff;
    opacity: .7;
  }
  .case-study__description {
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    margin: 0;
  }
}

.additional-projects-nav {
  font-family: $heading-font-family;
  li {
    font-size: 1.2rem;
    &.is-active a { // TODO: clean up, make better global rule
      color: mix($highlight-color, $link-color, 70%);
    }
  }
}

// Article Footer Nav

.article-footer-nav {
  margin: 4rem -1.5rem -1.5rem;
  border-top: 1px solid $gray-lighter;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: $heading-font-family;
  font-size: 1rem;
}
.article-footer-nav__link--single {
  width: 100%;
  padding: 2rem 1rem 3rem;
  transition: background-color $default-hover-transition-time;
  text-align: center;
  &:hover {
    background-color: $gray-lighter;
  }

}
.article-footer-nav__link--prev ,
.article-footer-nav__link--next {
  width: 50%;
  height: 6em;
  padding: 1rem 1rem 2rem;
  transition: background-color $default-hover-transition-time;
  &:hover {
    background-color: $gray-lighter;
  }
}
.article-footer-nav__link--next {
  border-left: 1px solid $gray-border;
}

.article-footer-nav__title {
  font-size: 1.2em;
  &::before {
    display: block;
    color: $gray;
    font-size: .7em;
    line-height: 1em;
    font-style: italic;
    letter-spacing: .01em;
    content: 'Next Project';
  }
  .article-footer-nav__link--prev & {
    text-align: left;
    &::before {
      content: 'Previous Project';
    }
  }
  .article-footer-nav__link--next & {
    text-align: right;
    .article-footer-nav__title {
      &::before {
        content: 'Next Project';
      }
    }
  }
}

.article-footer-nav__description {
  color: $gray;
  font-style: italic;
  font-size: .8em;
}


// Scoring
// .project__header {
//   background: gray;
// }
