$oo-sea-green: #21b890;
body.projects-openoakland-logo {
  .page-open {
    height: 300px;
    margin-top: calc(-#{$horizontal-nav-height} - .5rem);
    margin-right: -$container-padding;
    margin-bottom: .5rem;
    margin-left: -$container-padding;
    background-color: $oo-sea-green;
    text-align: center;
  }
  .page-open__logo {
  }
}