  <div id="container-footer"></div>
</div><!-- end #container -->

  <footer id="footer">
    <ul class="navigation">
      <li>&copy; @name @current_year</li>
      <li></li>
    </ul>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  
  <script>!window.jQuery && document.write(unescape('%3Cscript src="@root_path/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
  <script src="@root_path/js/plugins.js"></script>

  
  <!--[if lt IE 7 ]>
  <script src="@root_path/js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-546644-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>