<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  if !@title do <title>The creative work of Jeff French</title> endif
  if @title do <title>endif if @client do @client: endif if @title do @title · @name</title> endif
  <meta name="description" content="Visual &amp; interactive design work by Jeff French">
  <link rel="author" href="@root_path/humans.txt" content="Jeff French" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="shortcut icon" href="@root_path/favicon.ico" />
  <link rel="icon" type="image/png" href="@root_path/favicon.png" />
  <link rel="stylesheet" media="screen" href="@root_path/css/screen.css" />
  <link rel="stylesheet" media="only screen and (max-width: 480px)" href="@root_path/css/mini.css" />  
  <!--[if IE ]> <link rel="stylesheet" media="screen" href="@root_path/css/ie.css">
   <![endif]-->
  
<!-- All other JavaScript at the bottom --> 
  <script src="@root_path/js/libs/modernizr-1.7.min.js"></script>

</head>
