// ================ Nav

// Base nav styles

.header__name {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 0;
  float: left;
}

// Horizontal only
// @include breakpoints(max $header-breakpoint){

.site-header {
  &__container {
    // .site-header__container
    border: 1px solid darken($site-bg-color, 5%);
    background-color: $site-bg-color;
    z-index: 100;
    position: fixed;
    top: 0;
    transition: height 0.2s ease-in-out;
    border-width: 0 0 1px 0;
    width: 100%;
    // min-height: $horizontal-nav-height;
    height: $horizontal-nav-height;
    transition: height 300ms, padding 300ms;
    box-shadow: 0 1px 10px rgba(#000, 0.05);
  }
  // @include micro-clearfix;
  margin: 0 auto;
  max-width: $max-container-width;
  padding: 10px $main-side-padding;
  opacity: 1;
  transition: opacity 0.2s;
  transition-delay: 0.2s;
  .headroom--dim & {
    opacity: 0;
  }
}

.main-nav {
  font-family: $heading-font-family;
  font-size: 1.2rem;
  li.is-active a {
    color: mix($highlight-color, $link-color, 70%);
  }
}

.nav-toggle {
  display: none;
}
// Horizontal Header, Dropdown Nav
@include breakpoints(max $nav-breakpoint) {
  .site-header {
    min-height: $horizontal-nav-height;
    height: auto;
  }
  .nav-toggle {
    float: right;
    display: inline-block;
    margin-left: 1rem;
  }
  .main-nav {
    margin-bottom: 1rem;
    ul {
      display: block;
      clear: both;
      background: $site-bg-color;
      padding: 10px 0;
      margin: 0 -20px -10px;
      &[data-state="closed"] {
        display: none;
      }
      &[data-state="open"] {
        display: inherit;
        border-bottom: 1px solid $gray-lighter;
      }
    }
    li {
      a {
        display: block;
        text-align: center;
        border-top: 1px solid #ddd;
        padding: 10px 20px;
        text-decoration: none;
      }
    }
  }
}

@include breakpoints($nav-breakpoint) {
  .main-nav {
    float: right;
    li {
      width: auto;
      margin-left: 1.25em;
      display: inline-block;
    }
  }
}

// Horizontal Header, Inline Nav
.js-headroom.headroom--dim {
  height: 0;
  // min-height: 0;
  padding: 0;
  overflow: hidden;
}
