$space-xl: 64px;

body.index {
  background-color: $gray-lighter;
}
.homepage-intro-section {
  margin-top: -1rem; // offset parent padding
  padding-top: $space-xl;
  padding-bottom: $space-xl;

  header p {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    font-size: 3rem;
    // font-style: italic;
    color: $highlight-color;
    // margin: 0;
  }

  p,
  li {
    font-size: 1.2rem;
    line-height: $base-line-height;
    margin-bottom: 1rem;
  }
}

.case-studies__section .section-heading {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $gray;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 0.5rem;
}

.case-studies--boxes {
  .case-study {
    float: left;
    max-width: 300px;
    padding: 1em;
    margin: 0 20px 20px 0;
    text-align: center;
    background-color: #fff;
    transition: box-shadow $default-hover-transition-time * 2;
    &:hover {
      box-shadow: 0 1px 8px rgba(#000, 0.1);
    }
  }
  .case-study__info {
    line-height: 1.2;
    font-family: $heading-font-family;
  }
  .case-study__title {
    font-size: 1.8rem;
    color: $gray-dark;
  }
  .case-study__description {
    color: $gray;
  }
}
