body.index {
  background-color: $gray-lighter;
}
.homepage-intro-section {
  margin-top: -1rem; // offset parent padding
  margin-bottom: 2rem;
  padding-top: 2rem;
  // padding-bottom: $space-lg;

  header p {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    @include breakpoints(max mid-small) {
      font-size: 1.5rem;
    }
    @include breakpoints(mid-small large) {
      font-size: 2rem;
    }
    font-size: 2.5rem;
    transition: font-size 0.2s ease-in-out;
    // font-style: italic;
    color: $highlight-color;
    .emoji {
      font-size: 0.85em;
      color: #470033;
      background-color: #470033;
      background-image: linear-gradient(-25deg, $purple, #470033);
      // opacity: 0.5;
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      &::selection {
        -webkit-text-fill-color: #fff;
        -moz-text-fill-color: #fff;
      }
    }
  }
}
.recent-experience {
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    color: $purple;
  }
  p,
  li {
    font-size: 1rem;
    line-height: $base-line-height;
    margin-bottom: 2rem;
  }
  .role {
    @include small-heading;
    color: $gray;
  }
}

// this needs scoping if you reuse this class
.footer-links {
  a {
    margin-right: 1rem;
  }
}

.case-studies__section .section-heading {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $gray;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 0.5rem;
}

.case-studies--boxes {
  .case-study {
    float: left;
    max-width: 300px;
    padding: 1em;
    margin: 0 20px 20px 0;
    text-align: center;
    background-color: #fff;
    transition: box-shadow $default-hover-transition-time * 2;
    &:hover {
      box-shadow: 0 1px 8px rgba(#000, 0.1);
    }
  }
  .case-study__info {
    line-height: 1.2;
    font-family: $heading-font-family;
  }
  .case-study__title {
    font-size: 1.8rem;
    color: $gray-dark;
  }
  .case-study__description {
    color: $gray;
  }
}
