@charset 'utf-8';

@import 'normalize';

$site-bg-color: lighten(#eee, 20%);

@import 'mixins';
@import 'nprogress';
@import 'bourbon';
@import 'base/grid-settings'; // customizations for neat - (import before)
@import 'neat';
@import 'base/base'; // from Bitters

@import 'sections/projects';
@import 'sections/header';



html.turbolinks-progress-bar::before {
  height: 2px !important;
}

body {
  background: $site-bg-color;
}

#wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 38rem;
}


.lazy-hidden {
  // background: #fff url('/images/global/spinner.gif') no-repeat 50% 50%;
  opacity: 0;
}
.lazy-loaded {
  transition: opacity 0.3s;
  opacity: 1;
}