
%hr
-# %h3.section-heading Elsewhere
%ul.elsewhere-nav
  %li
    %a.external-link{href: 'http://twitter.com/ixley'}
      %i.fa.fa-twitter
      %span Twitter
  %li
    %a.external-link{href: 'https://www.linkedin.com/in/jefffrench'}
      %i.fa.fa-linkedin
      %span LinkedIn
  %li
    %a.external-link{href: 'https://medium.com/@ixley'}
      %i.fa.fa-medium
      %span Medium
  %li
    %a.external-link{href: 'https://dribbble.com/ixley'}
      %i.fa.fa-dribbble
      %span Dribbble
  %li
    %a.external-link{href: 'https://github.com/ixley'}
      %i.fa.fa-github
      %span Github
  %li
    %a.external-link{href: 'mailto:jeff@jwfrench.com'}
      %i.fa.fa-envelope
      %span Email
