%header#header
  %a.img__link{href: '/'}
    %img.header__mug{srcset: "/images/global/mug-60.jpg 1x, /images/global/mug-60@2x.jpg 2x", source: "/images/global/mug-60.jpg"}
    / =image_tag("images/global/mug-60@2x.jpg", class: "header__mug", width: "60", height: "60")

    %h1.header__name Jeff French
  %p.header__blurb
    %span Digital product designer,
    %span engaged world citizen,
    %span asker of questions.
  
  %nav.main-nav
    %a.nav__toggle{href: '#'} Menu
    %ul{"data-state" => "closed"}
      = link_to_page("About", "/about")
      = link_to_page("Projects", "/projects")

  %ul.elsewhere-nav
    %li
      %a.external-link{href: 'http://twitter.com/ixley'}
        %i.fa.fa-twitter
        %span Twitter
    %li
      %a.external-link{href: 'https://www.linkedin.com/in/jefffrench'}
        %i.fa.fa-linkedin
        %span LinkedIn

    %li
      %a.external-link{href: 'https://medium.com/@ixley'}
        %i.fa.fa-medium
        %span Medium
    %li
      %a.external-link{href: 'mailto:jfrench@ixley.com'}
        %i.fa.fa-envelope
        %span Email

