%header.site-header__container.js-headroom
  .site-header
    %a{href: '/'}
      %h1.header__name
        Jeff French

    %nav.main-nav
      %a.nav-toggle.js-nav-toggle__btn{href: '#'} Menu
      %ul.js-nav-toggle__menu{"data-state" => "closed"}
        = link_to_page("About", "/about")
        = link_to_page("Projects", "/projects")
