!!!
%html
  = partial "layouts/head"
  %body{:class => page_classes.dasherize}
    .site-container
      = partial "layouts/header"
      .content-container
        = yield

    = partial "layouts/footer"

    :javascript
      $('a.external-link').each(function() {
        $(this).click(function(event) {
          event.preventDefault();
          event.stopPropagation();
          window.open(this.href, '_blank');
        });
      });
