@import "micro-clearfix";
@import "breakpoint";
@import "hide-text";

@mixin small-heading {
  font-size: 0.685rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Helvetica Neue", sans-serif;
  margin: 1em 0;
}
