<section class="footer-links">
  <div class="contain">
    <a href="https://www.linkedin.com/in/jefffrench/" class="external-link">LinkedIn</a>
    <a href="{{ '/Jeff-French-Resume-2023.pdf' | url }}">Résumé</a>
  </div>
</section>