<header role="banner" class="site-header__container js-headroom">
  <div class="site-header">
    <a href="/">
      <h1 class="header__name">Jeff French</h1>
    </a>
    <nav class="main-nav">
      <a class="nav-toggle js-nav-toggle__btn" href="#">Menu</a>
      <ul class="js-nav-toggle__menu" data-state="closed">
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/projects">Projects</a></li> -->
      </ul>
    </nav>
  </div>
</header>
