!!!
%html
  %body
    .site-container
      !=content 

    :javascript
      $('a.external-link').each(function() {
        $(this).click(function(event) {
          event.preventDefault();
          event.stopPropagation();
          window.open(this.href, '_blank');
        });
      });
