 :html_head
  <body class="@slug project if @body_class do @body_class endif">
  :header
    <div id="content">
      <div class="">
      
        <section class="about element">
          @content
          <ul class="links">
            <li class="linkedin"><a href="http://www.linkedin.com/in/jefffrench" onclick="window.open('http://www.linkedin.com/in/jefffrench'); return false;" title="LinkedIn" rel="external">LinkedIn</a></li>
            <li class="twitter"><a href="http://twitter.com/ixley" onclick="window.open('http://twitter.com/ixley'); return false;" title="Twitter" rel="external">Twitter</a></li>
            <li class="contact"><a href="http://ixley.wufoo.com/embed/z7x3k7/" rel="shadowbox;height=380;width=450" title="Send a Message">Send a Message</a></li>
          </ul>
        </section>
        <section class="photo">
          <img src="@root_path/images/chef-jeff.jpg" class="me element" width="@width">
        </section>
        <section class="testimonials element">
          <h4 class="section-header">Testimonials</h4>
          <span class="quote">&ldquo;</span>
          @testimonials
          
        </section>
        
      </div>
    </div>

:footer