 :html_head
  <body class="home">
    <div id="container">
      :header
        <section id="options" class="navigation">
          <h3>Filters</h3>
          <ul id="filters" class="option-set">
            <li><a href="#show-all" class="selected">show all</a></li>
            <li><a href="#featured">featured</a></li>
            <li><a href="#web">web</a></li>
            <li><a href="#print">print</a></li>
            <li><a href="#identity">identity</a></li>
            <li><a href="#misc">misc</a></li>
          </ul>
          
        <h3>Sort</h3>
        <ul id="sort" class="option-set">
          <li><a href="#time" class="selected">time</a></li>
          <li><a href="#scale">scale</a></li>
          <li><a href="#scale">goodness</a></li>
        </ul> </section>
      
      
      <div id="artboard">
        <div id="content">
          :category-lists
        </div>
      </div>
    </div>

:footer
