---
title: About
layout: layouts/base.njk

---

.contain
  %figure
    %img{src: "/images/about/me-lightbox.jpg", style: "float: right; width: 260px; margin-left: 20px;", class: "photo"}

  %h1.section-heading
    %strong Collaborative
    %strong.tape design
    %strong.tape lead
  %p
    I excel in environments that require balancing systems thinking with scrappy experimentation, wearing multiple hats, and working with collaborative, thoughtful teams.
  %p
    I practice and encourage candid communication, work to reinforce psychologically safe and inclusive environments, and embrace a participatory leadership style.

  %h2.section-heading Lifelong learner & tinkerer
  %p
    As a designer, I'm self-taught—which also encompasses learning from others at every opportunity. I'm interested in learning from and iterating on design and business processes just as much as the actual projects I'm helping to build.

  %h2.section-heading Meaningful Problems
  %p
    I have a fascination with digital tools and their ability to simplify work, democratcize access to valuable services, and provide meaningful social value. 

  %hr
  
  -# %h3.section-heading Elsewhere
  %ul.elsewhere-nav
    %li
      %a.external-link{href: 'http://twitter.com/ixley'}
        %i.fa.fa-twitter
        %span Twitter
    %li
      %a.external-link{href: 'https://www.linkedin.com/in/jefffrench'}
        %i.fa.fa-linkedin
        %span LinkedIn
    %li
      %a.external-link{href: 'https://medium.com/@ixley'}
        %i.fa.fa-medium
        %span Medium
    %li
      %a.external-link{href: 'https://dribbble.com/ixley'}
        %i.fa.fa-dribbble
        %span Medium
    %li
      %a.external-link{href: 'mailto:jeff@jwfrench.com'}
        %i.fa.fa-envelope
        %span Email
