---
title: About
layout: layouts/base.njk

---

.contain
  %figure
    %img{src: "/images/about/me-lightbox.jpg", style: "float: right; width: 260px; margin-left: 20px;", class: "photo"}

  %h1.section-heading
    %strong Collaborative
    %strong.tape design
    %strong.tape lead
  %p
    I thrive in environments that require balancing systems thinking with scrappy experimentation, wearing multiple hats, and working with collaborative, empathetic teams.
  %p
    As a manager or individual contributor, I encourage candid communication, work to reinforce psychologically safe and inclusive environments, and embrace a participatory leadership style.

  %h2.section-heading Autodidact & lifelong learner
  %p
    I'm self-taught in most things 'design' – though to me, that also encompasses learning from others, which I try to do as much as possible. I'm interested in learning from and iterating on design processes just as much as the actual projects I'm contributing to.

  %h2.section-heading Meaningful Problems
  %p
    I have a fascination with digital tools and their ability to simplify work, democratcize access to services, and provide meaningful social value. I'm most interested in applying my efforts to address climate disruption in support of a more livable and equitable future.

  %hr
  
  -# %h3.section-heading Elsewhere
  %ul.elsewhere-nav
    %li
      %a.external-link{href: 'http://twitter.com/ixley'}
        %i.fa.fa-twitter
        %span Twitter
    %li
      %a.external-link{href: 'https://www.linkedin.com/in/jefffrench'}
        %i.fa.fa-linkedin
        %span LinkedIn
    %li
      %a.external-link{href: 'https://medium.com/@ixley'}
        %i.fa.fa-medium
        %span Medium
    %li
      %a.external-link{href: 'https://dribbble.com/ixley'}
        %i.fa.fa-dribbble
        %span Medium
    %li
      %a.external-link{href: 'mailto:jeff@jwfrench.com'}
        %i.fa.fa-envelope
        %span Email
