---
title: Hi |
layout: layouts/base.njk

---

%section.homepage-intro-section
  .contain
    %header
      %p
        %span.emoji 👋&nbsp; 
        Hiya - I’m Jeff French,
        %span.emoji 📐 
        %span a 
        %span.underline Product 
        %span.underline Design
        %span.underline Lead
        %span in the Bay Area 
        %span.emoji 🌉 
        %span with over 10 years experience growing early stage products.
        %span.emoji 📈
        -# %span.tape Product Design Lead
        -# %span with experience growing early stage products.

%section.recent-experience
  .contain
    %h2 Recent experience
    %ul
      %li
        %h3 Dropbox
        %img{src: "/images/home/docsend-thumb-2x.png", alt: "DocSend", width: "200", class: "thumb"}
        .role Product Design Manager (DocSend) 2022-23
        %p.blurb I led design for the DocSend product, managing a team of 4 designers and focused on growing the standalone product as well as leading the integration of DocSend into Dropbox’s core product.
        -# {% image "docsend-thumb-2x.png", "DocSend" %}
        
      %li
        %img{src: "/images/home/helloworks-thumb-2x.png", alt: "DocSend", width: "200", class: "thumb"}
        .role Senior Product Designer (HelloWorks) 2019 &ndash; 2022
        .blurb
          %p I worked with a small product team to build out and grow HelloWorks—a form-builder for simplifying business forms and agreements.
          %p I prioritized creative and lightweight design solutions, including marketing growth projects, that helped grow ARR from $200K to over $1.5M and improved ROAS by 10x within 2 years.
      %li
        %h3 HelloSign
        %img{src: "/images/home/sign-thumb-2x.png", alt: "DocSend", width: "200", class: "thumb"}
        .role Sr. Product Designer 2017 &ndash; 2019
        .blurb
          %p Starting as the sole product designer at HelloSign, I designed the HelloWorks form-builder and customer portal from the ground up, collaborating with a small product team to deliver a freemium model with 100+ new accounts, monthly. 
          %p I also created and iterated on a design system and component libraries for HelloSign and HelloWorks products, resulting in improved design consistency, accessibility standards, and improved designer/developer productivity.



