---
title: Hi
layout: layouts/base.njk

---

%section.homepage-intro-section
  .contain
    %header
      %p
        %span.tape Product Design Lead
        %span with experience growing early stage products.

    %ul
      %li
        %span.small-heading Dropbox (DocSend) 2022-23
        %br
        Most recently at Dropbox, I managed a team of designers working on DocSend—growing the standalone product and leading the integration of DocSend into Dropbox’s core product.
      %li
        %span.small-heading Dropbox (HelloWorks → Dropbox Forms) 2019-22
        %br
        I worked with a small product team to build out and grow Dropbox Forms—a form-builder for simplifying business forms and agreements.
      %li
        %span.small-heading HelloSign 2017-19
        %br
        Starting as the sole product designer at HelloSign, I supported the core product, and helped build HelloWorks from the ground up. I also created and helped maintain our design system and component library we grew as our design team.

