%img{src: "/images/about/placeholder.jpg", height: '340px'}

%h1.section-heading Internet Designer
%p 
  These days I go by anything from digital product designer, to interaction designer, or even plain old web designer depending on who I'm talking to. Basically, I've been using the title Designer in some form or another since the early aughts.

%h2.section-heading What I Actually Do
%p 
  Really, I just love the process of problem solving and using digital interaction to create engaging experiences. Typically this is on the web. I'm an avid asker of questions, an organizer of ideas, and I tend to be a top-down thinker.
%p
  If you want specifics, I sketch, wireframe, prototype, and sometimes write code (I <i class="fa fa-heart-o" style="font-size: .8em;"><span>heart</span></i> CSS). I have designed some logos and visual branding, a handful of icons here and there, but tend to spend most of my time thinking about how to support larger digital experiences.

%h2.section-heading Autodidact + Team Player
%p
  I'm self-taught in most things design, as long as that also encompasses learning from others (which I try to do as much as possible).

%h2.section-heading Meaningful Problems
%p
  Ultimately, I want to contribute to projects with valuable, real-world applications. Can we bring more nuance to the internet? Can we use tools to inspire more empathy? Can we tackle bigger problems than innovating on advertising platforms and coming up with new door-to-door delivery services? I think we can, and that's the kind of work I want to be doing.
