%figure
  %img{src: "/images/about/yo-pixel.jpg"}
  %figcaption
    Me and my pixelated protégé

%h1.section-heading Internet Designer
%p
  I love the process of problem solving and using digital interaction to create engaging web and mobile experiences. I'm an avid asker of questions, an organizer of ideas, and I tend to be a top-down thinker.
%p
  In more specific terms, I sketch, wireframe, prototype, and sometimes write code (I <i class="fa fa-heart-o" style="font-size: .8em;"><span>heart</span></i> CSS). I enjoy focussing on everything from layout, interactions, and styling, to the larger experiences they help support.

%h2.section-heading Autodidact + Team Player
%p
  I'm self-taught in most things 'design' – though to me, that also encompasses learning from others, which I try to do as much as possible. I'm interested in learning from and iterating on design processes just as much as the actual projects I'm contributing to.

%h2.section-heading Meaningful Problems
%p
  Ultimately, I want to contribute to projects with valuable, real-world applications. Can we bring more nuance to the internet? Can we use tools to inspire more empathy? Can we tackle bigger problems than innovating on advertising platforms and coming up with new door-to-door delivery services? I think we can, and that's the kind of work I want to be doing.


-# %ul.elsewhere-nav
-#   %li
-#     %a.external-link{href: 'http://twitter.com/ixley'}
-#       %i.fa.fa-twitter
-#       %span Twitter
-#   %li
-#     %a.external-link{href: 'https://www.linkedin.com/in/jefffrench'}
-#       %i.fa.fa-linkedin
-#       %span LinkedIn
-#   %li
-#     %a.external-link{href: 'https://medium.com/@ixley'}
-#       %i.fa.fa-medium
-#       %span Medium
-#   %li
-#     %a.external-link{href: 'mailto:jfrench@ixley.com'}
-#       %i.fa.fa-envelope
-#       %span Email
