---
title: Jeff French · Product Designer
---


%section.homepage-intro-section
  .contain
    %p
      Versatile digital product designer. Generating solutions for web and mobile experiences.

.u-stack--xl
  = partial "projects/case-studies-nav"

.contain
  = partial "layouts/elsewhere-nav"
