---
title: Jeff French · Product Designer
---

%section.homepage-intro-section
  %p
    -# I'm a digital product designer, problem solving for web and mobile experiences.
    Product designer with WellnessFX & OpenOakland, previously Change.org, NYU. Code prototyper, engaged world citizen.


= partial "projects/case-studies-nav"
