---
title: Jeff French · Product Designer
---

%section.homepage-intro-section
  %p
    I'm an interaction and digital product designer who loves problem solving for digital experiences.

%section.case-studies-section
  %h2.section-heading
    Featured Case Studies
  = partial "projects/case-studies-nav"
