---
title: Jeff French · Product Designer
---

%section.homepage-intro-section
  %p
    Full-stack product designer. Problem solving for web and mobile experiences.


= partial "projects/case-studies-nav"
