%h1.page-heading Projects

%section.case-studies
  %h2.section-heading
    Featured Case Studies
  %ul
    %li
      %a{href: "/projects/scoring-health"}
        %img.post-thumb{"data-src" => "/images/projects/scoring-thumb@2x.png", width: "100", height: "100"}
        .post-info
          %h3.post-title Scoring Health
          %p.post-description A challenge to simplify important information without removing the details
    %li
      %a{href: "/projects/navigation"}
        %img.post-thumb{"data-src" => "/images/projects/scoring-thumb@2x.png", width: "100", height: "100"}
        .post-info
          %h3.post-title What’s in a Nav Bar?
          %p.post-description Helping to unobtrusively guide users with next steps
    %li
      %img.post-thumb{"data-src" => "/images/projects/scoring-thumb@2x.png", width: "100", height: "100"}
      .post-info
        %a.post-title{href: "/projects/activity-tracking"} Activity Tracking: Just the Basics
        %p.post-description Defining the essentials for a custom activity tracker
    %li
      %a.post-title.external-link{href:"https://medium.com/@ixley/openoakland-logo-redesign-7994a3318721"}
        %img.post-thumb{"data-src" => "/images/projects/openoakland-thumb@2x.png", width: "100", height: "100"}
        .post-info
          %h3.post-title OpenOakland Logo Design


%section.older-projects
  %h2.section-heading
    Older Projects
