%h1.page-heading Projects

%section.case-studies
  %h2.section-heading
    Featured Case Studies
  %ul
    %li
      %img.post-thumb{"data-src" => "/images/projects/scoring-thumb@2x.png", width: "120", height: "120"}
      .post-info
        %a.post-title{href: "/projects/scoring-health"} Scoring Health
        %p.post-description A challenge to simplify important information without removing the details
    %li
      %img.post-thumb{"data-src" => "/images/projects/scoring-thumb@2x.png", width: "120", height: "120"}
      .post-info
        %a.post-title{href: "/projects/activity-tracking"} Activity Tracking
        %p.post-description Defining the essentials for a custom activity tracker


%section.older-projects
  %h2.section-heading
    Older Projects
