%h1.page-heading Projects

= partial "projects/case-studies-nav"




-# %p
-#   %em
-#     A collection of various older work can still be viewed at 
-#     =link_to('old.ixley.com', 'http://old.ixley.com')