%h1.page-heading Projects

%section.case-studies-section
  %h2.section-heading
    Featured Case Studies
  = partial "projects/case-studies-nav"


%section.older-projects
  %h2.section-heading
    Older Projects
