%h1.page-heading Projects

%section.case-studies-section
  = partial "projects/case-studies-nav"


%h2.section-heading
  Other Projects
%p
  %em
    A collection of various older work can still be viewed at 
    =link_to('old.ixley.com', 'http://old.ixley.com')