// ===============================================
// Layout helpers
// ===============================================

// -------------------------------------------
// Spacing
// -------------------------------------------

// $space-none:   0;
// $space-xxs:  2px;
// $space-xs:   4px;
// $space-sm:   8px;
// $space-md:  16px;
// $space-lg:  32px;
// $space-xl:  64px;

// Inline classes
// -------------------------------

.u-inline--xxs { margin-right: $space-xxs; }
.u-inline--xs { margin-right: $space-xs; }
.u-inline--sm { margin-right: $space-sm; }
.u-inline--md { margin-right: $space-md; }
.u-inline--lg { margin-right: $space-lg; }

// Stack classes
// -------------------------------

.u-stack--xs { margin-bottom: $space-xs; }
.u-stack--sm { margin-bottom: $space-sm; }
.u-stack--md { margin-bottom: $space-md; }
.u-stack--lg { margin-bottom: $space-lg; }
.u-stack--xl { margin-bottom: $space-xl; }

// Inset classes
// -------------------------------

.u-inset--xs { padding: $space-xs; }
.u-inset--sm { padding: $space-sm; }
.u-inset--md { padding: $space-md; }
.u-inset--lg { padding: $space-lg; }
.u-inset--xl { padding: $space-xl; }

// Inset Vertical
.u-inset__v--xs { padding: $space-xs; }
.u-inset__v--sm { padding: $space-sm; }
.u-inset__v--md { padding: $space-md; }
.u-inset__v--lg { padding: $space-lg; }
.u-inset__v--xl { padding: $space-xl; }
