---
layout: layouts/base.njk
title: OpenOakland Logo Redesign
description: Designing the visual identity of a community-led, civic tech organization
role: Volunteer with OpenOakland
---

.project-intro
  .project-challenge
    %h2.project-intro-heading The Challenge
    %p
      Create a logo that better represents the organization mission of collaborative innovation, and distinguishes it as separate from the city government.

  .project-role
    %h2.project-intro-heading My Role
    %p
      I worked with key stakeholders to define the scope and then gather and synthesize relevant input while iterating on the designs.

